.fix-table-head {
    overflow-y: auto;
    height: 90vh;
    thead th {
        position: sticky;
        top: 0;
    }
    
    table {
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 8px 15px;
        border: 2px solid #327894;
        color: white;
    }
    
    th {
        background: #327894;
    }
}
.table-pagination {
    color: white !important;
}