.sample-data-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    label {
        margin-left: -15px;
    }
    label, input {
        color: #ffff;
    }
    button {
        background-color: #145ea8 !important;
        a {
            text-decoration: none;
        color: #ffff;
        }
    }
    svg {
        color: #ffff !important;
    }
}
.upload-file-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}